* {
    box-sizing: border-box;
}
body{
    margin:0px;
}
.header-area-navbar {
    border: 2px solid rgb(2, 26, 12);
    background-color: rgb(1, 24, 15);
    padding: 16px;
    margin: 0;
    width: 100%;
    height: 87px;

}

nav {
    display: flex;
}

.header-area-navbar nav ul {
    display: flex;
}

.header-area-navbar nav ul li {
    margin-left: 25px;
    list-style-type: none;
    position: relative;
    margin-top: 10;
    font-size: large;
}

.header-area-navbar nav ul li a {
    text-decoration: none;
    color: white;
    border-top: 2px solid #009688;
}

.header-area-navbar nav ul li a:hover {
    color: #395443;
}

.header-area-navbar nav ul li::after {
    content: "";
    height: 3px;
    width: 0px;
    background: #009688;
    position: absolute;
    left: 0;
    transition: 0.5s;
    bottom: -5px;
}

.header-area-navbar nav ul li:hover::after {
    width: 100%;
    font-family: arial;
}

.header-area {
    background-image: url(/background\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 770px;
}



.content h1 {
    font-size: 64px;
    margin-top: 200px;
    color: #157878;
    margin-left: 100px;
    font-family: Baskerville old 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space {
    word-spacing: 17px;
}

.content p {
    margin-top: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;
    margin-top: 50px;
    margin-left: 100px;
}

.btn {
    margin-left: 60px;
}

.zoom-In {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.zoom-In:hover {
    transform: scale(1.1);
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}
.btn button a{
    text-decoration: none;
    color:#fff;
}
button:hover span {
    width: 100%;
}button:hover {
    border: 1px solid rgba(92, 113, 104, 0.95);
}

/* flip card image */
.try {
    text-align: center;
    float: left;
    height: 200px;
    margin-top: 150px;
}

.try img {
    height: 200px;
    width: 200px;
    display: block;
    cursor: pointer;
}

.try {
    overflow: hidden;
    margin: 0 0px;
}

.try img {
    transform: scale(1);
    transition: 0.3s ease-in -out;
}

.try:hover img {
    transform: scale(1.5);
}

/* flip card */
.bc {
    height: 833px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(12 82 65 / 49%) 0%, #040f0b 100%);
    background-size: cover;
    padding: 91px;
}

.reason {
    display: flex;
    margin-left: 250px;
}

.reason1 {
    display: flex;
    margin-left: 380px;
}

.flip-card {
    height: 250px;
    width: 250px;
    margin-top: 50px;
    margin-left: 20px;
    background: transaprent;
    position: relative;
}

.flip-card-inner {
    height: 250px;
    width: 250px;
    background-color: #19bda178;
    border-radius: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    font-size: 12px;
}

hr {
    margin-top: -15px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {
    border-radius: 20px;
}

.pa {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.try {
    width: 250px;
    height: 250px;
}

h3 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #32edf6fc;
    text-align: center;
}

/* flip card end */
.container {
    max-width: 1230px;
    margin: 160px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* gallery */
.gallery {
    width: 100%;
    display: block;
    height: 820px;
    background-color: #040f0b;
    padding: 10px 0;
    border:1px solid white;
}

.gallery .gallery-filter {
    padding: 18px 15px;
    width: 150%;
    margin-top: -80px;
    text-align: center;
    margin-bottom: 20px;

}

.gallery .gallery-filter .filter-item:hover {
    color: #d1d7da;
    border-color: #19bda1;
}

.gallery .gallery-filter .filter-item {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    margin: 6px 24px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: 0.3s ease;
}

.row .gallery-filter .filter-item.active {
    color: #ff9800;
}

.row .gallery-item {
    width: calc(100%/6);
    padding: 7px;
}

.row .gallery-item-inner img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.row .gallery-item.show {
    animation: 0.5s fade ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}
footer{
padding:0px;
text-align: center;
}
.footer {
    text-align: center;
    height: 340px;
    width: 100%;
    background-color: black;
    padding: 23px;
    display:flex;
    flex-wrap: wrap;
}
.footer-item{
    display:block;
    
    padding: 24px 154px;
    
}
.footer-item .social_icone{
    display: flex;
    padding:16px;
}
.footer-item .social_icone li{
    padding:6px;
    font-size:26px;
    margin-top:137px;
}

.footer-item .social_icone li a{
  color:#19bda1;
} 
.footer-item .social_icone li a:hover{
     color:#ffffff;
}
.p1 {
    color: white;
    font-weight: bold; 
    font-size: 24px;  
}
.footer li {
    color: white;
    list-style-type: none;
}

table {
    color: white;
}
.copy{
    display:block;
    width:100%;
    height:44px;
    background-color: #040f0b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* responsive */
@media(max-width:812px) {
    .imgs {
        width: 450px;
        height: 450px;
    }

    .space {
        margin-left: -120px;
    }

    p {
        margin-top: 60px;
    }
}

@media(max-width:991px) {
    .gallery.gallery-item {
        width: 50%;
    }
}

@media(max-width:767px) {
    .gallery.gallery-item {
        width: 100%;
    }

    .gallry .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}